{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  {% if user.is_authenticated %}
  <h3><strong>{{ user.username }}, Welcome to Icons Hub.</strong></h3>
  <h4>kindly select any of our best services that will be of aid to you, Thank you.</h4>
  {% else %}
  <h3><strong>Welcome to Icons Hub.</strong></h3>
  <h4>Our company is glad to offer you the following services below:</h4>
  {% endif %}


  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'co_workingspace' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title "><strong>
              Co-Working Space</strong>
            </h5>
            Create Notes to refer them later. They are stored permanently until deleted
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'icons_errands' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/homework.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title "><strong>
              Icons Errands</strong>
            </h5>
            Add homeworks and assign them deadlines. They will be displayed prioritised by deadlines
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'icons_escapades' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/youtube.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title "><strong>
              Icons Escapades</strong>
            </h5>
            Search Youtube and select your desired video to play it on youtube
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'icons_events' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title "><strong>
              Icons Events and Anniversaries</strong>
            </h5>
            Add your to-do lists for your day and remove them as you finish
          </div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-md-3 ">
      <a href="{% url 'icons_marketing' %}">
        <div class="card mt-20">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title "><strong>
              Icons Marketing</strong>
            </h5>
            Browse books from a list of neatly organised book menu
          </div>
        </div>
      </a>
    </div>



    <div class="col-md-3">
      <a href="{% url 'dashboard_kenya' %}#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dictionary.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title "><strong>
              Dashboard Kenya</strong>
            </h5>
            A vocabulary from a book is troubling you? No problem, enter the word, and the meaning will be displayed
            almost instantaneously.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'icons_whatsapp' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wiki.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title "><strong>
              Our Chat Platfom</strong>
            </h5>
            Homework and Assignments? Search wikipedia to get fast results
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3">
      <a href="{% url 'icons_youtube' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/conversion.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title "><strong>
              Our Posts and Videos</strong>
            </h5>
            Check out the conversion table, that helps you to convert measurements to more familiar ones of your choice.
          </div>
        </div>
      </a>
    </div>
  </div>


</section>
{% endblock content %}